<h2>Order delivered!</h2>
<h3>Hello <%= @user.first_name %><%= @user.last_name %></h3>
<p>
  Your order with id: <span>
    <h4><%= @order.id  %></h4>
  </span> is delivered at <span >
    <h4><%= @order.delivered_at %></h4>
  </span>
</p>
<p>Have a great day!</p>
<p>Thank you!</p>
