<h2>Order confirmed!</h2>
<h3>Hello <%= @user.first_name %><%= @user.last_name %>
  <p>
    Your order with id: <span ><%= @order.id %>  is placed  at <span>
        <h5><%= @order.created_at.in_time_zone("Chennai").strftime("%d %B,%Y - %I:%M %p") %></h5>
      </span>
      <p> Your order will be delvered as soon as posible!</p>
    </p>
    <p>Thanks For Ordering!</p>
