<div class="container mt-5">
  <%user = User.find(params[:id]) %>
  <%=form_with(model: user ,method:"patch",class:"MenuCategoryAdd") do |form|%>
    <%= render partial:"user",locals:{form: form,edit: true} %>
  <%end%>
</div>
