<div class="container">
  <div class="card-header">
    <h5>Welcome NewUser</h5>
  </div>
  <div class="NewUser">
    <%= form_with url:users_path do |form| %>
      <%= render partial:"user" ,locals:{form: form,edit:nil}%>
    <%end%>
  </div>
  <div class="Card-Footer">
    <div class="Card-Footer-Content">
      Already have an account? <%=link_to "SignIn", new_sessions_path%>
    </div>
  </div>
</div>
